<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>com.interior.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.interior.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertBooking</servlet-name>
        <servlet-class>com.interior.controller.insertBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffUpdateReport</servlet-name>
        <servlet-class>com.interior.controller.staffUpdateReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentReport</servlet-name>
        <servlet-class>com.interior.controller.studentReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentRoomDetails</servlet-name>
        <servlet-class>com.interior.controller.studentRoomDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomFilterServlet</servlet-name>
        <servlet-class>com.interior.controller.RoomFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterSevlet</servlet-name>
        <servlet-class>com.interior.controller.RegisterSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegitserServlet</servlet-name>
        <servlet-class>com.interior.controller.RegitserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.interior.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertStaff</servlet-name>
        <servlet-class>com.interior.controller.insertStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStaff</servlet-name>
        <servlet-class>com.interior.controller.updateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRoom</servlet-name>
        <servlet-class>com.interior.controller.CreateRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>DeleteRoomServlet.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomServlet</servlet-name>
        <servlet-class>com.interior.controller.DeleteRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoomServlet</servlet-name>
        <servlet-class>com.interior.controller.UpdateRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBlockServlet</servlet-name>
        <servlet-class>com.interior.controller.CreateBlockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlockServlet</servlet-name>
        <servlet-class>com.interior.controller.DeleteBlockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlockServlet</servlet-name>
        <servlet-class>com.interior.controller.UpdateBlockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGuestServlet</servlet-name>
        <servlet-class>com.interior.controller.CreateGuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGuestServlet</servlet-name>
        <servlet-class>com.interior.controller.DeleteGuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGuestServlet</servlet-name>
        <servlet-class>com.interior.controller.UpdateGuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateReportServlet</servlet-name>
        <servlet-class>com.interior.controller.UpdateReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReportServlet</servlet-name>
        <servlet-class>com.interior.controller.DeleteReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRoomServlet</servlet-name>
        <servlet-class>com.interior.controller.CreateRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>com.interior.controller.UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStaffServlet</servlet-name>
        <servlet-class>com.interior.controller.CreateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>com.interior.controller.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchRoomServlet</servlet-name>
        <servlet-class>com.interior.controller.FetchRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptBookingServlet</servlet-name>
        <servlet-class>com.interior.controller.AcceptBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectBookingServlet</servlet-name>
        <servlet-class>com.interior.controller.RejectBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptAllBooking</servlet-name>
        <servlet-class>com.interior.controller.AcceptAllBooking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertBooking</servlet-name>
        <url-pattern>/insertBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffUpdateReport</servlet-name>
        <url-pattern>/staffUpdateReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentReport</servlet-name>
        <url-pattern>/studentReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentRoomDetails</servlet-name>
        <url-pattern>/studentRoomDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomFilterServlet</servlet-name>
        <url-pattern>/RoomFilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterSevlet</servlet-name>
        <url-pattern>/RegisterSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegitserServlet</servlet-name>
        <url-pattern>/RegitserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertStaff</servlet-name>
        <url-pattern>/insertStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStaff</servlet-name>
        <url-pattern>/updateStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRoom</servlet-name>
        <url-pattern>/CreateRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomServlet</servlet-name>
        <url-pattern>/DeleteRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoomServlet</servlet-name>
        <url-pattern>/UpdateRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBlockServlet</servlet-name>
        <url-pattern>/CreateBlockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlockServlet</servlet-name>
        <url-pattern>/DeleteBlockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlockServlet</servlet-name>
        <url-pattern>/UpdateBlockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGuestServlet</servlet-name>
        <url-pattern>/CreateGuestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGuestServlet</servlet-name>
        <url-pattern>/DeleteGuestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGuestServlet</servlet-name>
        <url-pattern>/UpdateGuestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateReportServlet</servlet-name>
        <url-pattern>/UpdateReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReportServlet</servlet-name>
        <url-pattern>/DeleteReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRoomServlet</servlet-name>
        <url-pattern>/CreateRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/UpdateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStaffServlet</servlet-name>
        <url-pattern>/CreateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/DeleteStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchRoomServlet</servlet-name>
        <url-pattern>/FetchRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptBookingServlet</servlet-name>
        <url-pattern>/AcceptBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectBookingServlet</servlet-name>
        <url-pattern>/RejectBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptAllBooking</servlet-name>
        <url-pattern>/AcceptAllBooking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
</web-app>
