body {
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #0d1117;
    color: #c9d1d9;
}

.container {
    display: flex;
    height: 100vh;
}

.navbar {
    width: 250px;
    background-color: #161b22;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.navbar .logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.navbar .logo span {
    font-size: 24px;
    font-weight: bold;
    color: #58a6ff;
}

.profile {
    margin-bottom: 30px;
    text-align: center;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #30363d;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    width: 90%;
}

.navbar li {
    margin-bottom: 10px;

}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
}

.navbar a i {
    font-size: 24px;
    margin-right: 15px;
}

.navbar a span {
    display: block;
}

.navbar a:hover {
    background-color: #21262d;
    color: #58a6ff;
}

.navbar a:hover i {
    color: #58a6ff;
}

.navbar a.active {
    background-color: #ffffff1a;
    color: white;
}

.navbar a.active i {
    color: white;
}

.main-content {
    flex-grow: 1;
    padding: 40px;
    margin-left: 250px;
    background-color: #0d1117;
    overflow-y: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #161b22;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 24px;
    margin: 0;
    color: #c9d1d9;
}

.search-profile {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #21262d;
    border-radius: 8px;
    padding: 5px 10px;
    margin-right: 20px;
}

.search-bar input {
    border: none;
    background: none;
    outline: none;
    padding: 8px;
    border-radius: 4px;
    flex-grow: 1;
    color: #c9d1d9;
}

.search-bar button {
    padding: 8px;
    background-color: #0366d6;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0255b6;
}

.user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 150px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 10px;
    flex-grow: 1;
}

.username {
    font-size: 16px;
    font-weight: bold;
    color: #c9d1d9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.staff-rank {
    font-size: 14px;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-pic-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #30363d;
}

.user-profile .dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100%);
    right: 0;
    background-color: #161b22;
    border: 1px solid #30363d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
    width: 140px;
}

.user-profile:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

.dropdown-menu form {
    display: flex;
    flex-direction: column;
}

.dropdown-menu button {
    padding: 10px;
    background-color: #0366d6;
    border: none;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    text-align: left;
    width: 100%;
}

.dropdown-menu button:hover {
    background-color: #0255b6;
}

.dropdown-menu .menu-button {
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #c9d1d9;
    cursor: pointer;
    transition: background 0.3s;
    text-align: left;
    width: 100%;
}

.dropdown-menu .menu-button:hover {
    background-color: #21262d;
}

.breadcrumb {
    margin-bottom: 20px;
    color: #c9d1d9;
}

.breadcrumb a {
    color: #58a6ff;
    text-decoration: none;
}

.breadcrumb a.active {
    color: white;
}

.content {
    background: #161b22;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #c9d1d9;
}

.search-profile {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #21262d;
    border-radius: 8px;
    padding: 5px 10px;
    margin-right: 20px;
}

.search-bar input {
    border: none;
    background: none;
    outline: none;
    padding: 8px;
    border-radius: 4px;
    flex-grow: 1;
    color: #c9d1d9;
}

.search-bar button {
    padding: 8px;
    background-color: #0366d6;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0255b6;
}

.user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 150px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 10px;
    flex-grow: 1;
}

.username {
    font-size: 16px;
    font-weight: bold;
    color: #c9d1d9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.staff-rank {
    font-size: 14px;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-pic-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #30363d;
}

.user-profile .dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100%);
    right: 0;
    background-color: #161b22;
    border: 1px solid #30363d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
    width: 140px;
}

.filter-dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: calc(43%);
    right: calc(4%);
    background-color: #161b22;
    border: 1px solid #30363d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
}

.filter-dropdown:hover .dropdown-menu,
.user-profile:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

.dropdown-menu form {
    display: flex;
    flex-direction: column;
}

.dropdown-menu label {
    margin: 10px 0 5px;
    font-size: 14px;
    color: #c9d1d9;
}

.dropdown-menu input,
.dropdown-menu select {
    padding: 8px;
    background-color: #21262d;
    border: 1px solid #30363d;
    border-radius: 4px;
    color: #c9d1d9;
    margin-bottom: 10px;
    font-size: 14px;
}

.filter-dropdown .dropdown-menu button {
    padding: 8px;
    background-color: #0366d6;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.filter-dropdown .dropdown-menu button:hover {
    background-color: #0255b6;
}

.dropdown-menu .clear-button {
    background-color: #d73a49;
}

.dropdown-menu .clear-button:hover {
    background-color: #b31d28;
}

.content {
    background: #161b22;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #c9d1d9;
}

.table-container {
    margin-top: 20px;
}

.table-container h2 {
    margin-bottom: 20px;
    font-size: 22px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-container table thead {
    background-color: #21262d;
}

.table-container table thead th {
    padding: 10px;
    text-align: left;

    color: #c9d1d9;
    border-bottom: 1px solid #30363d;
}

.table-container table tbody tr {
    transition: background 0.3s;
}

.table-container table tbody tr:hover {
    background-color: #21262d;
}

.table-container table tbody td {
    padding: 10px;
    border-bottom: 1px solid #30363d;
    color: #c9d1d9;
    white-space: nowrap;
}

.table-container table tbody td.actions {
    display: flex;
    gap: 5px;
}

.header-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.action-button {
    padding: 10px 20px;
    background-color: #0366d6;
    color: white;
    border: none;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.action-button:hover {
    background-color: #0255b6;
}

.view-button {
    padding: 8px 16px;
    background-color: #2d333b;
    color: #c9d1d9;
    border: 1px solid #444c56;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
    flex: 1;
    text-align: center;
}

.view-button:hover {
    background-color: #444c56;
    border-color: #636e7b;
    transform: translateY(-2px);
}

.view-button:active {
    background-color: #2d333b;
    border-color: #444c56;
    transform: translateY(0);
}

.view-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-container span {
    margin: 0 10px;
    font-size: 16px;
    color: #c9d1d9;
}

.pagination-button {
    padding: 10px 20px;
    background-color: #0366d6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.pagination-button:hover {
    background-color: #0255b6;
}

.breadcrumb {
    margin-bottom: 20px;
    color: #c9d1d9;
}

.breadcrumb a {
    color: #58a6ff;
    text-decoration: none;
    transition: color 0.3s;
}

.breadcrumb a:hover {
    color: #0366d6;
}

.breadcrumb a.active {
    color: #c9d1d9;
    pointer-events: none;
}

.back-button {
    display: inline-block;
    margin-bottom: 20px;
    color: #58a6ff;
    cursor: pointer;
    transition: color 0.3s;
}

.back-button:hover {
    color: #0366d6;
}

.navigation-card {
    display: flex;
    align-items: center;
    background-color: #21262d;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.navigation-card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.card-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
}

.card-content {
    flex-grow: 1;
    color: #c9d1d9;
}

.card-title {
    font-size: 20px;
    color: #58a6ff;
    margin-bottom: 10px;
}

.card-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.card-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #0366d6;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
}

.card-button:hover {
    background-color: #0255b6;
}

.menu-button {
    background: none;
    border: none;
    color: #c9d1d9;
    text-align: center;
    width: 100%;
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.menu-button:hover {
    background-color: #21262d;
}

.alert-box {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2d333b;
    color: #c9d1d9;
    border: 1px solid #444c56;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

.alert-box.show {
    display: block;
}

.form-container {
    background-color: #161b22;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #c9d1d9;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #c9d1d9;
}

.form-group select {
    width: 100%;
}

.form-group input {
    width: 97%;
}

.form-group select,
.form-group input {
    padding: 10px;
    border: 1px solid #30363d;
    border-radius: 4px;
    background-color: #0d1117;
    color: #c9d1d9;
}

.form-group select:focus,
.form-group input:focus {
    outline: none;
    border-color: #58a6ff;
}

.form-container button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0366d6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.form-container button[type="submit"]:hover {
    background-color: #0255b6;
}